@import "variable";

.view-phone {
    @media (max-width: $sm) and (min-width: $md) {
        display: none;
    }
}

.view-tablet {
    @media (min-width: $md) {
        display: none;
    }
}

.view-pc {
    @media (max-width: $md) {
        display: none;
    }
}

.card {
    // background-color: $secondary_blue;
    height: 90%;
    margin: 3%;
    padding-left: 0 !important;
    padding-right: 0 !important;

    img {
        filter: brightness(0.5);
    }

    &:hover {
        background-color: $secondary_blue;
    }
    a {
        width: 100%;
        text-decoration: none !important;
        color: black; 
        &:hover {
            filter: brightness(1.5);
        }
    }

    .card-body {

        // color: white !important;
        filter: brightness(0.9);
    }

}