@import "variable";
@import "class";


body {
    background-color: $secondary_blue_light !important;

    header {
        nav {
            background-color: $primary_blue !important;

            .navbar-nav {

                @media (min-width: $lg) {
                }

                .nav-item {
                    @media (min-width: $lg) {
                        width: 12rem;
                        text-align: center;
                    }
                }
            }
        }
    }

    main {
        .greeting {
            padding: 2%;
            font-family: 'Noto Serif', serif;
            cursor: default;
        }
    }

    footer {
        color: $secondary_blue !important;
    }
}