@import "variable";
@import "class";

/* ranking page */
.box {
    position: sticky;
    top: 10%;
    padding: 25px;
    &:hover {
        background-color: $secondary-blue;
    }
}

.result {
    padding: 15px;
}