/* color */
$primary_blue: #3a769b;
$primary_pink: #ba2d65;
$secondary_blue: #C5E3FB;
$secondary_blue_light: #eeffff;

/* screen width (currently using bootstrap's) */
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
