/* color */
$primary: #f06292;
$primary_light: #ff94c2;
$primary_dark: #ba2d65;
$secondary: #bbdefb;
$secondary_light: #eeffff;
$secondary_dark: #8aacc8;

/* screen width (currently using bootstrap's) */
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;