*{}

input.form-control.singleBtn {
    border-radius: 12px;
}

input.form-control.singleBtn:hover {
    background: #f96332;
}

input.form-control.avgBtn {
    border-radius: 14px;
}

input.form-control.avgBtn:hover {
    background: #f96332;
}
.extra-filters{
	display: none;
	margin-top: 30px;
	margin-bottom: 30px;

}
.ranking-table .container {
    padding-left:  0px;
}
.extra-filters .form-inline div{

	padding-left: 0px;
}
.main{
	padding-top: 4%;
}
.page-title{
	margin-bottom: 29px;
}
