<!-- views/partial/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RubikVN</title>

<!-- Bootstrap -->

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="icon" href="/img/rbvn.png">


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/final.css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
