{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %} | RubikVN</title>
  {% block style %} {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> {% block script %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="/"><span><img src="{%static "results/img/logo.png"%}" alt="">	</span>CubingVN</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/results/ranking">Results</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Beginners</a></li>
          <li><a href="#">Information</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>

  {% block body %} {% endblock %}
  <!-- Footer -->
  <div class="footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <a href="https://gitlab.com/rubikvn/rubikvn" target="_blank" class="btn btn-default">
                        <i class="fab fa-gitlab"></i>
                    </a>
          <a href="https://www.facebook.com/rubikvnclub/" target="_blank" class="btn btn-default">
                        <i class="fab fa-facebook"></i>
                    </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer -->
</body>

</html>
