*{}

/* Css for index page */
body{
	font-family: 'Lato', sans-serif;
}
.new-event h1 {
    letter-spacing: 3.5px;
}
.wrapper1 {
    background: #fbf8f8;
    margin-top: 50px;
    margin-bottom: 25px;
}

/*nav.navbar.navbar-default {
    margin-bottom: 200px;
}*/

img.img-responsive {
    background: inherit;
    /* border-radius: 125px; */
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    filter: brightness(60%);
}
