<!-- views/page/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partial/head %>
</head>

<body class="container">

    <header>
        <% include ../partial/header %>
    </header>

    <main>
        <div class="jumbotron">
            <p class="hidden-sm">This text is hidden if view on phone</p>
        </div>
    </main>

    <footer>
        <% include ../partial/footer %>
    </footer>

</body>

</html>